<%= simple_form_for @employee, url: update_attendence_path, method: :post do |f| %>
  <%#= f.error_notification %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group"></div>
      <h3> Contact Information </h3>
      <div class="form-inputs">
        <%= f.simple_fields_for :employee_attendences  do |p| %>
            
           <fieldset>
            <div class="form-group"></div>
            <div class="form-inputs">
              <%= p.text_field :date, class: "form-control", placeholder: "dd/mm/yy" %>
            </div>

            <div class="form-group"></div>
            <div class="form-inputs">
              <%= p.input :label, input_html: {class: "form-control"}, placeholder: "Status" %>
            </div>
          </fieldset>
        <% end %>
        
      </div>

      <div class="form-group"></div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-app" %>
      </div>
    </div>
  </div>
<% end %>

