<div class="form-group"></div>
  
<% if @employee.present? %>
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
      <% unless @employee.avatar.present? %>
        <%= image_tag("school.png") %>
      <% else %>
        <%= image_tag @employee.avatar.url %>
      <% end %>
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
    <div>
      <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><%= file_field(:employee, :avatar) %></span>
      <% unless @employee.avatar.present? %>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
      <% else %>
        <% if file_field nil, :class => "fileinput-exists" %>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        <% end %>
        <%= link_to "Remove Picture", delete_avatar_employees_path, :method => :post, class: "btn btn-default", data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
      <!-- <img data-src="holder.js/100%x100%" alt="..."> -->
      <%= image_tag("school.png") %>
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
    <div>
      <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
        <%= file_field(:employee, :avatar) %>
      </span>
      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
    </div>
  </div>
<% end %>