<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-sm-18">
      <h3>Bio:</h3>
      <fieldset>
        <div class="form-inputs">
          <%= f.input :first_name, input_html: {class: "form-control"}, autofocus: true, placeholder: "First Name" %>
        </div>


        <div class="form-inputs">
          <%= f.input :last_name, input_html: {class: "form-control"}, placeholder: "Last Name" %>
        </div>

        <div class="form-inputs">
          <%= f.input :date_of_birth, input_html: {class: "form-control"} %>
        </div>

        <div class="form-inputs">
          <%= f.input :gender, input_html: {class: "form-control"}, as: :select, collection: Employee::GENDER, prompt: "Choose your Gender" %>
        </div>
      </fieldset>

      <h3>Employee Information:</h3>
      <fieldset>
        <div class="form-inputs">
          <%= f.input :employee_number, input_html: {class: "form-control"}, placeholder: "Employee Number" %>
        </div>

        <div class="form-inline">
          <%= f.input :joining_date, input_html: {class: "form-control"} %>
        </div>

        <div class="form-inputs">
          <%= f.association :department, input_html: {class: "form-control"}, prompt: "Choose a Department" %>
        </div>

        <div class="form-inputs">
          <%= f.association :employee_position, input_html: {class: "form-control"}, prompt: "Your Position" %>
        </div>

        <div class="form-inputs">
          <%= f.input :job_title, input_html: {class: "form-control"}, placeholder: "Job Title" %>
        </div>
      </fieldset>

      <h3>Qualification and Experience:</h3>
      <fieldset>
        <div class="form-inputs">
          <%= f.input :qualification, input_html: {class: "form-control"}, placeholder: "Qualification" %>
        </div>

        <div class="form-inputs">
          <%= f.input :total_experience, input_html: {class: "form-control"}, placeholder: "Total Experience" %>
        </div>
      </fieldset>

      <h3>Address:</h3>
      <fieldset>
        <div class="form-inputs">
          <%= f.input :present_address, input_html: {class: "form-control"}, placeholder: "Current Address" %>
        </div>

        <div class="form-inputs">
          <%= f.input :perminent_address, input_html: {class: "form-control"}, placeholder: "Permenent Address" %>
        </div>

        <div class="form-inputs">
          <%=  f.input :phone, input_html: {class: "form-control"}, placeholder: "Contact Number" %>
        </div>

        <div class="form-inputs">
          <%=  f.input :email, input_html: {class: "form-control"}, placeholder: "Email Address" %>
        </div>
      </fieldset>

      <div class="form-group"></div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-app" %>
      </div>
      
      <div class="form-group"></div>
    </div>
    <div class="form-group"></div>
    <div class="col-sm-4"> 
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <img data-src="holder.js/100%x100%" alt="...">
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><%= f.file_field :avatar, label: false %></span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div> 
    </div>
  </div>
<% end %>
