
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading"><h2>Add Classes for <%= @teacher.to_s %></h2></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<h3>Classes</h3>
						<% if @classes.present? %>
							<% @classes.each do |classes| %>
								<ul>
									<li>
										<%= classes.class_name %>
										<%= link_to "Add Class", class_teachers_path(:class_id => classes, :teacher_id => @teacher), :method => :post, :remote => true, class: "pull-right create_teacher_class" %>
									</li>
								</ul>
							<% end %>
						<% else %>
							<div class="alert alert-dismissable alert-info after-destroy" style="margin:0px !important; ">
					      <strong>No Classes!</strong> Available.
					    </div>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Classrooms</h3>
						<% if @classrooms.present? %>
							<% @classrooms.each do |classroom| %>
								<ul>
									<li>
										<%= classroom.classroom_name %>
										<%= link_to "Add Class", classroom_teachers_path(:classroom_id => classroom, :teacher_id => @teacher), :method => :post, :remote => true, class: "pull-right create_teacher_classroom" %>
									</li>
								</ul>
							<% end %>
						<% else %>
							<div class="alert alert-dismissable alert-info after-destroy" style="margin:0px !important; ">
						      <strong>No Classrooms!</strong> Available.
						    </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading"><h2> Assigned Classes</h2></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<h3>Classes</h3>
						<% if @teacher.school_classes.present? %>
							<% @teacher.school_classes.each do |classes| %>
								<ul>
									<li>
										<%= classes.class_name %>
										<%#= link_to "Add Class", class_teachers_path(:class_id => classes, :teacher_id => @teacher), :method => :post, :remote => true, class: "pull-right create_teacher_class" %>
									</li>
								</ul>
							<% end %>
						<% else %>
							<div class="alert alert-dismissable alert-info after-destroy" style="margin:0px !important; ">
					      <strong>No Classes!</strong> Assigned.
					    </div>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Classrooms</h3>
						<% if @teacher.classrooms.present? %>
							<% @teacher.classrooms.each do |classroom| %>
								<ul>
									<li>
										<%= classroom.classroom_name %>
										<%#= link_to "Add Class", classroom_teachers_path(:classroom_id => classroom, :teacher_id => @teacher), :method => :post, :remote => true, class: "pull-right create_teacher_classroom" %>
									</li>
								</ul>
							<% end %>
						<% else %>
							<div class="alert alert-dismissable alert-info after-destroy" style="margin:0px !important; ">
						      <strong>No Classrooms!</strong> Assigned.
						    </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>