<h2>Add Classes for <%= @teacher.to_s %></h2>
<div class="row">
	<div class="col-md-6">
		<h3>Classes</h3>
		<% @classes.each do |classes| %>
			<ul>
				<li>
					<%= classes.class_name %>
					<%= link_to "Add Class", class_teachers_path(:class_id => classes, :teacher_id => @teacher), :method => :post, class: "pull-right" %>
				</li>
			</ul>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Classrooms</h3>
		<% @classrooms.each do |classroom| %>
			<ul>
				<li>
					<%= classroom.classroom_name %>
					<%= link_to "Add Class", classroom_teachers_path(:classroom_id => classroom, :teacher_id => @teacher), :method => :post, class: "pull-right" %>
				</li>
			</ul>
		<% end %>
	</div>
</div>