<div class="panel panel-app">
  <div class="panel-heading">
    <h1>Employee Detail</h1>
  </div>
  <div class="panel-body">
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
        <% unless @employee.avatar.present? %>
          <%= image_tag("school.png") %>
        <% else %>
          <%= image_tag @employee.avatar.url %>
        <% end %>
      </div>
      <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
    </div>
    <table class="table table-bordered table-hover">
      <tr>
        <td><strong>First name:</strong></td>
        <td><%= @employee.first_name %></td>
      </td>
      <tr>
        <td><strong>Last name:</strong></td>
        <td><%= @employee.last_name %></td>
      </tr>
        <td><strong>Date of birth:</strong></td>
        <td><%= @employee.date_of_birth unless @employee.date_of_birth.nil? %></td>
      </tr>
      <tr>
        <td><strong>Gender:</strong></td>
        <td><%= @employee.gender %></td>
      </tr>
      <tr>
        <td><strong>Employee number:</strong></td>
        <td><%= @employee.employee_number %></td>
      </tr>
      <tr>
        <td><strong>Joining date:</strong></td>
        <td><%= @employee.joining_date.strftime("%d/%b/%Y") %></td>
      </tr>
      <tr>
        <td><strong>Department:</strong></td>
        <td><%= @employee.department.name unless @employee.department.nil? %></td>
      </tr>
      <tr>
        <td><strong>Employee position:</strong></td>
        <td><%= @employee.employee_position.name unless @employee.employee_position.nil? %></td>
      </tr>
      <tr>
        <td><strong>Job title:</strong></td>
        <td><%= @employee.job_title %></td>
      </tr>
      <tr>
        <td><strong>Qualification:</strong></td>
        <td><%= @employee.qualification %></td>
      </tr>
      <tr>
        <td><strong>Total experience:</strong></td>
        <td><%= @employee.total_experience %></td>
      </tr>
      <tr>
        <td><strong>Present address:</strong></td>
        <td><%= @employee.present_address %></td>
      </tr>
      <tr>
        <td><strong>Perminent address:</strong></td>
        <td><%= @employee.perminent_address %></td>
      </tr>
      <tr>
        <td><strong>Phone:</strong></td>
        <td><%= @employee.phone %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @employee.email %></td>
      </tr>
    </table>
  </div>
</div>
 
<%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-link" %> |
<%= link_to 'Back', employees_path, class: "btn btn-link" %>

