<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class= "table table-striped table-bordered table-hover ">
        <thead >
          <tr>
            <th class="col-sm-1">Class</th>
            <th class="col-sm-4">Short Name</th>
            <th>Shared</th>
            <th class="col-sm-1">Color</th>
            <th align="center">Actions</th>
          </tr>
        </thead>

        <tbody class="datables">
          <% @classrooms.each do |class_room| %>
            <tr>
              <td><%= class_room.classroom_name %></td>
              <td><%= class_room.short_name %></td>
              <td><%= class_room.shared ? "Yes" : "No" %></td>
              <td>
                <span style="padding: 4px 53px 4px 0px;background-color: <%=class_room.color%>;"></span>
              <td>
                <%#= link_to 'Details', class_room, class: "btn btn-link" %>
                <%= link_to 'Destroy', class_room, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "label label-danger delete_classroom", :style => "padding:3px;" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>