<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class= "table table-striped">
        <thead >
          <tr>
            <th class="">Mark All <input type="checkbox" id="select_all"/></th>
            <th>Classrooms</th>
            <th>Short Name</th>
            <th>Shared</th>
            <th>Color</th>
            <th align="center" colspan="2">Actions</th>
          </tr>
        </thead>

        <tbody class="datables">
          <% @classrooms.each do |class_room| %>
            <tr>
              <td class="selectedId"><%= check_box_tag "classroom_destroy_id[]", class_room.id %></td>
              <td><%= class_room.classroom_name %></td>
              <td><%= class_room.short_name %></td>
              <td><%= class_room.shared ? "Yes" : "No" %></td>
              <td>
                <span style="padding: 4px 53px 4px 0px;background-color: <%=class_room.color%>;"></span>
              </td>
              <td>
                <%= link_to edit_classroom_path(class_room) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %>
              </td>
              <td>
                <%= link_to class_room, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "delete_classroom" do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>