<% if @class.present? %>
	<h3>Class <%=  @class.class_name  %> Time Table</h3>
	
<% end %>

<table class="table table-striped">
	<thead>
		<tr id="time_table_week_days">
			<td class="heading col-md-2">Week Days</td>
			<td colspan="8" class="heading">Periods</td>
		</tr>
		<tr id="time_table_periods">
			<td></td>
			<% Period.all.each do |period| %>
				<td class="period_no col-md-1">
					<%= period.name %><br />
					<span><%= period.start_time.strftime("%I:%M %p") %>-<%= period.end_time.strftime("%I:%M %p") %></span>
				</td>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @week_days.each do |week_day| %>
			<tr>
				<td><%= week_day.name %></td>
				<% Period.all.each do |period| %>
					<td style="text-align:center;">
						<% if @class.present? %>
							<% if @class.lessons.includes(:subject).where("week_day_id = ? AND period_id = ?", week_day, period).each do |time_table| %>
								<%#= content_tag(:span, style: "background-color:"+period.subject.color+";padding:5.2px;color:#fff;") do %>
									<div class="dropdown dropup time_table_dropup">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color:<%=time_table.subject.color%>;padding:5.2px;color:#fff;text-decoration:none;"><%= time_table.subject.short_name %><b class=""></b></a>
			              <div class="dropdown-menu time_table_hover" style="background-color:rgb(255, 255, 255);margin-bottom: 8px;">
			                <table class="period_table table table-striped">
			                	<tr>
			                    <td class="col-md-1">
			                    	Subject:
			                    </td>
			                    <td>
			                    	<%= time_table.subject.title %>
			                    </td>
			                  </tr>
			                  <tr>
			                    <td class="col-md-1">
			                    	Teacher:
			                    </td>
			                    <td>
			                    	<%= time_table.teacher.to_s %>
			                    </td>
			                  </tr>
			                  <tr>
			                    <td class="col-md-1">
			                    	Classroom:
			                    </td>
			                    <td>
			                    	<%= time_table.classroom.classroom_name %>
			                    </td>
			                  </tr>
			                </table>
			              </div>
			            </div>
								<%# end %>
							<% end.empty? %>
								--
							<% end %>
						<% else %>
							--
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>