<%= simple_form_for @student do |f| %>
  <%#= f.error_notification %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-inputs">
        <%= f.input :first_name, input_html: {class: "form-control"}, autofocus: true %>
      </div>

      <div class="form-group"></div>
      <div class="form-inputs">
        <%= f.input :last_name, input_html: {class: "form-control"}, autofocus: true %>
      </div>

      <div class="form-group"></div>
      <div class="form-inline">
        <%= f.input :date_of_birth, input_html: {class: "form-control"} %>
      </div>

      <div class="form-group"></div>
      <div class="form-inputs">
        <%= f.input :nic, input_html: {class: "form-control"} %>
      </div>

      <div class="form-inputs">
        <%= f.input :address, input_html: {class: "form-control"} %>
      </div>

      <div class="form-inputs">
        <%= f.input :gender, input_html: {class: "form-control"}, as: :select, collection: Student::GENDER, prompt: "Choose your Gender" %>
      </div>

      <div class="form-group"></div>

      <div class="form-inputs">
        <h3>Contact Info</h3>
        <%= f.simple_fields_for :emergency_contacts do |p| %>
          <fieldset>
            <%= render "/admission/emergency_contacts_fields",  :f => p  %>
          </fieldset>
        <%end%>
      </div>

      <div class="form-group"></div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-app" %>
      </div>
    </div>
    <div class="form-group"></div>
    <div class="col-sm-4"> 
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <% unless @student.avatar.present? %>
            <%= image_tag("school.png") %>
          <% else %>
            <%= image_tag @student.avatar.url %>
          <% end %>
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><%= f.file_field :avatar, label: false %></span>
          <% unless @student.avatar.present? %>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          <% else %>
            <% if f.file_field nil, :class => "fileinput-exists" %>
              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            <% end %>
            <%= link_to "Remove Picture", delete_avatar_students_path(@student), :method => :post, class: "btn btn-default", data: {confirm: "Are you sure?"} %>
          <% end %>
          <!-- <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> -->
        </div>
      </div>
    </div>
  </div>
<% end %>
