<h1>Students</h1>
<%= form_tag destroy_multiple_students_path, method: :delete do %>
  <div class="row">
      <div class='col-md-12'>
        <div class="pull-left">
          <%= link_to 'New Student', new_admission_path, class: "btn btn-success" %>
        </div>
        <div class="pull-right">
          <%= button_tag "Delete selected", :remote => true, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm destroy-all pull-right", id: "my" %><br />
          <span id="select_notice" style="font-size:13px;" class="pull-right"></span>
        </div>
      </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table id="students_datatable" class= "table table-striped ">
          <thead>
            <tr>
              <th class="">Mark All <input type="checkbox" id="select_all"/></th>
              <th>Name</th>
              <th>Joining Date</th>
              <th>Birth Date</th>
              <th>Class</th>
              <th>Session</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="datables">
            <% @students.each do |student| %>
              <tr>
                <td class="selectedId"><%= check_box_tag "student_destroy_id[]", student.id %></td>
                <td><%= student.to_s %></td>
                <td><%= student.joining_date.strftime("%d/%b/%Y") %></td>
                <td><%= student.date_of_birth.strftime("%d/%b/%Y") %></td>
                <td><%= student.school_class.class_name unless student.school_class.blank? %></td>
                <td><%= student.session.name unless student.session.blank? %></td>
                <td>
                  <%= link_to student_path(student) do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %> |
                  <%= link_to edit_student_path(student) do %>
                    <span class="glyphicon glyphicon-edit"></span>
                  <% end %> |
                  <%= link_to student, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_session" do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>


