<h1>Students</h1>

<%= form_tag destroy_multiple_students_path, method: :delete do %>
  <div class="row">
    <div class='col-md-12'>
      <div class="pull-left">
        <%= link_to 'New Student', new_admission_path, class: "btn btn-success" %>
      </div>
      <div class="pull-right">
        <%= button_tag "Delete selected", :remote => true, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm destroy-all pull-right", id: "my" %><br />
        <span id="select_notice" style="font-size:13px;" class="pull-right"></span>
      </div>
    </div>
  </div>
  <hr /> 
  <script type="text/javascript">
    $(document).ready(function() {
      <% if mobile_devise? %>
        $('#students_datatable').dataTable( {
          "oLanguage": {
            "oPaginate": {
              "sNext": ">",
              "sPrevious": "<"
            }
          }
        } );
        $(".out_responsive_table").html("");
      <% else %>
        $('#students_datatable').dataTable();
      <% end %>
    } );
  </script>
    <% if mobile_devise? %>
      <strong class="">Mark All <input type="checkbox" id="select_all_out"/></strong>
      <br />
    <% end %>
    <div id="no-more-tables">
      <table id="students_datatable" class="table table-striped table-hover dt-responsive table-condensed cf" cellspacing="0" width="100%">

        <thead class="cf">
          <tr>
            <th class="out_responsive_table col-md-1">Mark All <input type="checkbox" id="select_all"/></th>
            <th>Name</th>
            <th>Joining Date</th>
            <th>Birth Date</th>
            <th>Class</th>
            <th>Session</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td class="selectedId" data-title="Mark"><%= check_box_tag "student_destroy_id[]", student.id %></td>
              <td data-title="Name"><%= student.to_s %></td>
              <td data-title="Joining Date"><%= student.joining_date.strftime("%d/%b/%Y") %></td>
              <td data-title="Date of Birth"><%= student.date_of_birth.strftime("%d/%b/%Y") %></td>
              <td data-title="Class"><%= student.school_class.class_name unless student.school_class.blank? %></td>
              <td data-title="Session"><%= student.session.name unless student.session.blank? %></td>
              <td>
                <%= link_to student_path(student) do %>
                  <span class="glyphicon glyphicon-eye-open"></span>
                <% end %> |
                <%= link_to edit_student_path(student) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %> |
                <%= link_to student, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "delete_student" do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>





