<div class="panel panel-app">
  <div class="panel-body">
  <div class="panel-heading">
    <h1>Student Detail</h1>
  </div>
  <div class="panel-body">
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
        <% unless @student.avatar.present? %>
          <%= image_tag("school.png") %>
        <% else %>
          <%= image_tag @student.avatar.url %>
        <% end %>
      </div>
      <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
    </div>
    <table class="table table-bordered table-hover">
      <tr>
        <td><strong>First Name: </strong></td>
        <td><%= @student.first_name %></td>
      </td>
      <tr>
        <td><strong>Last Name: </strong></td>
        <td><%= @student.last_name %></td>
      </tr>
      <tr>
        <td><strong>NIC: </strong></td>
        <td><%= @student.nic %></td>
      </tr>
      <tr>
        <td><strong>Date of Birth: </strong></td>
        <td><%= @student.date_of_birth.strftime("%d/%b/%Y") %></td>
      </tr>
      <tr>
        <td><strong>Address: </strong></td>
        <td><%= @student.address %></td>
      </tr>
      <tr>
        <td><strong>Gender: </strong></td>
        <td><%= @student.gender %></td>
      </tr>
    </table>
    <div class="panel-heading">
      <h2>Contact Details</h2>
    </div>
    <br />
    <h4>Contact info #1</h4>
    <table class="table table-bordered table-hover">
      <tr>
        <td style="width: 49%;"><strong>Name: </strong></td>
        <td><%= @student.emergency_contacts.first.name %></td>
      </tr>
      <tr>
        <td><strong>Phone: </strong></td>
        <td><%= @student.emergency_contacts.first.phone %></td>
      </tr>
      <tr>
        <td><strong>Relationship: </strong></td>
        <td><%= @student.emergency_contacts.first.relationship %></td>
      </tr>
    </table>
    <h4>Contact info #2</h4>
    <table class="table table-bordered table-hover">
      <tr>
        <td style="width: 49%;"><strong>Name: </strong></td>
        <td><%= @student.emergency_contacts[1].name %></td>
      </tr>
      <tr>
        <td><strong>Phone: </strong></td>
        <td><%= @student.emergency_contacts[1].phone %></td>
      </tr>
      <tr>
        <td><strong>Relationship: </strong></td>
        <td><%= @student.emergency_contacts[1].relationship %></td>
      </tr>
    </table>
  </div>
</div>
 
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

