
<div id="dashboard">
    <div id="upar">
      <h4>Welcome Admin!</h4>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 dashboard-width">
          <div class="course dashboard-icon">
            <%= link_to image_tag("course.png"), {:action => 'index', :controller => 'courses'} %>
            <br />
            Courses
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="batches_dashboard dashboard-icon">
            <%= link_to image_tag("batches2.png"), {:action => 'index', :controller => 'batches'} %>
            <br />
            Batches
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="subjects_dashboard dashboard-icon">
            <%= link_to image_tag("subjects.png"), {:action => 'index', :controller => 'subjects'} %>
            <br />
            Subjects
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="employees dashboard-icon">
            <%= link_to image_tag("employees2.png"), human_resources_employees_path %>
            <br />
            Human Resources
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="departments_dashboard dashboard-icon">
            <%= link_to image_tag("departments.png"), {:action => 'index', :controller => 'departments'} %>
            <br />
            Departments
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="lower">
          <div class="col-sm-1 lower-width"></div>
          <div class="col-md-2 dashboard-width">
            <div class="departments_dashboard dashboard-icon">
              <%= link_to image_tag("time_table.png"), {:action => 'index', :controller => 'time_table'} %>
              <br />
              Time Table
            </div>
          </div>

          <div class="col-md-2 dashboard-width">
            <div class="students dashboard-icon">
              <%= link_to image_tag("students2.png"), {:action => 'admissions', :controller => 'students'} %>
              <br />
              Admissions
            </div>
          </div>
          <div class="col-md-2 dashboard-width">
            <div class="fees dashboard-icon">
              <%= link_to image_tag("fees.png"), {:action => 'fees_index', :controller => 'fees_categories'} %>
              <br />
              Fees
            </div>
          </div>
          <div class="col-md-2 dashboard-width">
            <div class="settings dashboard-icon">
              <%= link_to image_tag("settings2.png"), {:action => 'settings', :controller => 'general'} %>
              <br />
              Settings
            </div>
          </div>
        </div>
      </div>
    </div>
    </div> -->
    <br />
    <div class="row">
      <div class="col-lg-3 col-md-6 ">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-graduation-cap fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= Student.count %></div>
                          <div><h4>Students!</h4></div>
                      </div>
                  </div>
              </div>
              <a href="#">
                  <div class="panel-footer">
                      <%= link_to students_path, :style => "color: #228CEA;" do %>
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <% end %>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="panel panel-green">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-users fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= Employee.teachers.count %></div>
                          <div><h4>Teachers!</h4></div>
                      </div>
                  </div>
              </div>
              <a href="#">
                  <div class="panel-footer">
                      <%= link_to teachers_path do %>
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <% end %>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="panel panel-yellow">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-tasks fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= Subject.count %></div>
                          <div><h4>Subjects!</h4></div>
                      </div>
                  </div>
              </div>
              <a href="#">
                  <div class="panel-footer">
                      <%= link_to list_subjects_path do %>
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <% end %>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="panel panel-red">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-building-o fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= SchoolClass.count %></div>
                          <div><h4>Classes</h4></div>
                      </div>
                  </div>
              </div>
              <a href="#">
                  <div class="panel-footer">
                      <%= link_to classes_path do %>
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <% end %>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <div class="col-md-12">
            <div id="high-bar-chart"></div>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <!-- <a href="#" class="btn btn-default btn-block">View Details</a> -->
                </div>
                <!-- /.panel-body -->
            </div>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="chat-panel panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-comments fa-fw"></i>
              Chat
              <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-chevron-down"></i>
                  </button>
                  <ul class="dropdown-menu slidedown">
                      <li>
                          <a href="#">
                              <i class="fa fa-refresh fa-fw"></i> Refresh
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-check-circle fa-fw"></i> Available
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-times fa-fw"></i> Busy
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-clock-o fa-fw"></i> Away
                          </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="#">
                              <i class="fa fa-sign-out fa-fw"></i> Sign Out
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <ul class="chat">
                  <li class="left clearfix">
                      <span class="chat-img pull-left">
                          <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <strong class="primary-font">Jack Sparrow</strong>
                              <small class="pull-right text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                              </small>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
                  <li class="right clearfix">
                      <span class="chat-img pull-right">
                          <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <small class=" text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                              <strong class="pull-right primary-font">Bhaumik Patel</strong>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
                  <li class="left clearfix">
                      <span class="chat-img pull-left">
                          <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <strong class="primary-font">Jack Sparrow</strong>
                              <small class="pull-right text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
                  <li class="right clearfix">
                      <span class="chat-img pull-right">
                          <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                      </span>
                      <div class="chat-body clearfix">
                          <div class="header">
                              <small class=" text-muted">
                                  <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                              <strong class="pull-right primary-font">Bhaumik Patel</strong>
                          </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                          </p>
                      </div>
                  </li>
              </ul>
          </div>
          <!-- /.panel-body -->
          <div class="panel-footer">
              <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                  <span class="input-group-btn">
                      <button class="btn btn-warning btn-sm" id="btn-chat">
                          Send
                      </button>
                  </span>
              </div>
          </div>
          <!-- /.panel-footer -->
      </div>
      </div>
      <div class="col-sm-7">
        <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <ul class="timeline">
                  <li>
                      <div class="timeline-badge"><i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title">Lorem ipsum dolor</h4>
                              <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                              </p>
                          </div>
                          <div class="timeline-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title">Lorem ipsum dolor</h4>
                          </div>
                          <div class="timeline-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title">Lorem ipsum dolor</h4>
                          </div>
                          <div class="timeline-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title">Lorem ipsum dolor</h4>
                          </div>
                          <div class="timeline-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-badge info"><i class="fa fa-save"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title">Lorem ipsum dolor</h4>
                          </div>
                          <div class="timeline-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                              <hr>
                              <div class="btn-group">
                                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                      <i class="fa fa-gear"></i>  <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Action</a>
                                      </li>
                                      <li><a href="#">Another action</a>
                                      </li>
                                      <li><a href="#">Something else here</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title">Lorem ipsum dolor</h4>
                          </div>
                          <div class="timeline-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title">Lorem ipsum dolor</h4>
                          </div>
                          <div class="timeline-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
          <!-- /.panel-body -->
      </div>
      
    </div>
</div>
<script type="text/javascript">
  $(function () {
    
    $('#high-bar-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'User Graph'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            // categories: [
            //     'Jan',
            //     'Feb',
            //     'Mar',
            //     'Apr',
            //     'May',
            //     'Jun',
            //     'Jul',
            //     'Aug',
            //     'Sep',
            //     'Oct',
            //     'Nov',
            //     'Dec'
            // ]
            type: "integer",
            title: {
                text: 'Users'
            }
        },
        yAxis: {
            title: {
                text: 'Total Users'
            }
        },
        // tooltip: {
        //     headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        //     pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        //         '<td style="padding:0"><b>{point.y}</b></td></tr>',
        //     footerFormat: '</table>',
        //     shared: true,
        //     useHTML: true
        // },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {
            name: 'Students',
            data: [<%= Student.all.count %>]
        }, {
            name: 'Teachers',
            data: [<%= Employee.teachers.count %>]
        }


                // , {
        //     name: 'Tokyo',
        //     data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        // }, {
        //     name: 'New York',
        //     data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
        // }
        // }, {
        //     name: 'London',
        //     data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

        // }, {
        //     name: 'Berlin',
        //     data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

        // }
        ]
    });

    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: "Teachers",
            value: <%= Employee.teachers.count %>
        }, {
            label: "Students",
            value: <%= Student.all.count %>
        }, {
            label: "Classes",
            value: <%= SchoolClass.all.count %>
        }],
        resize: true
    });
  });

</script>

