<div class="container">
  <div id="dashboard">
    <div id="upar">
      <h4>Welcome Admin!</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 dashboard-width">
          <div class="course dashboard-icon">
            <%= link_to image_tag("course.png"), {:action => 'index', :controller => 'courses'} %>
            <br />
            Courses
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="batches_dashboard dashboard-icon">
            <%= link_to image_tag("batches.png"), {:action => 'index', :controller => 'batches'} %>
            <br />
            Batches
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="subjects_dashboard dashboard-icon">
            <%= link_to image_tag("subjects.png"), {:action => 'index', :controller => 'subjects'} %>
            <br />
            Subjects
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="employees dashboard-icon">
            <%= link_to image_tag("employees2.png"), human_resources_employees_path %>
            <br />
            Human Resources
          </div>
        </div>
        <div class="col-md-2 dashboard-width">
          <div class="departments_dashboard dashboard-icon">
            <%= link_to image_tag("departments.png"), {:action => 'index', :controller => 'departments'} %>
            <br />
            Departments
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="lower">
          <div class="col-sm-3 lower-width"></div>
          <div class="col-md-2 dashboard-width">
            <div class="students dashboard-icon">
              <%= link_to image_tag("students2.png"), {:action => 'admissions', :controller => 'students'} %>
              <br />
              Admissions
            </div>
          </div>
          <div class="col-md-2 dashboard-width">
            <div class="fees dashboard-icon">
              <%= link_to image_tag("fees.png"), {:action => 'fees_index', :controller => 'fees_categories'} %>
              <br />
              Fees
            </div>
          </div>
          <div class="col-md-2 dashboard-width">
            <div class="settings dashboard-icon">
              <%= link_to image_tag("settings2.png"), {:action => 'settings', :controller => 'general'} %>
              <br />
              Settings
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


