<h3>Students</h3>
<% if @batch.students.present? %>
  <% for student in @batch.students %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td class="col-sm-2"><strong>Profile Picture</strong></td>
          <td><strong>Student Name: </strong></td>
          <td><strong>Gender: </strong></td>
          <td><strong>NIC: </strong></td>
        </tr>
        <tr>
          <td>
            <% unless student.avatar.present? %>
              <%= image_tag("school.png", style: "height: 51px;") %>
            <% else %>
              <%= image_tag(student.avatar.url, style: "height: 51px;") %>
            <% end %>
            
          </td>
          <td><%= student.to_s %></td>
          <td><%= student.gender %></td>
          <td><%= student.nic %></td>
        </tr>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-dismissable alert-info" style="margin:0px !important;">
    <strong>No Students!</strong> available in this Batch.
  </div>
<% end %>