<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class= "table table-striped table-bordered table-hover ">
        <thead >
          <tr>
            <th>Classes</th>
            <th>Short Name</th>
            <th>Color</th>
            <th align="center">Actions</th>
          </tr>
        </thead>

        <tbody class="datables" >
          <% @classes.each do |_class| %>
            <tr>
              <td><%= _class.class_name %></td>
              <td><%= _class.short_name %></td>
              <td>
                <span style="padding: 4px 53px 4px 0px;background-color: <%=_class.color%>;"></span>
              <td>
                <%= link_to 'Details', class_name_path(_class.class_name), class: "label label-info", :style => "padding:3px;" %>
                <%= link_to 'Edit', edit_class_path(_class.class_name), class: "label label-primary", :style => "padding:3px;" %>
                <%= link_to 'Destroy', destroy_class_path(_class.class_name), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "label label-danger delete_class", :style => "padding:3px;" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>