<div class="panel panel-app">
  <!-- <ul class="nav nav-pills nav_subjects">
    <li><a href="#">Subjects</a></li>
    <li><a href="#">Students</a></li>
  </ul>
  <br /> -->
  <div id="subjects_subjects">
    <div class="panel-heading">
      <h1>Subject</h1>
      <%= link_to 'Edit', edit_subject_path(@subject), class: "label label-info" %> |
      <%= link_to 'Back', subjects_path, class: "label label-default" %>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-hover">
        <tr>
          <td><strong>Bacth Name: </strong></td>
          <td><%= @subject.batch %></td>
        </tr>
        <tr>
          <td><strong>Course: </strong></td>
          <td><%= @subject.course %></td>
        </tr>
        <tr>
          <td><strong>Subject Name: </strong></td>
          <td><%= @subject.subject_name %></td>
        </tr>
      </table>
    </div>
  </div>
  <!-- <div id="subjects_students">
    <div class="panel-heading">
      <h1>Students</h1>
    </div>
    <div class="panel-body">
      <%# if @subject.students.present? %>
        <%# for student in @subject.students %>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <tr>
                <td class="col-sm-2"><strong>Profile Picture</strong></td>
                <td><strong>Student Name: </strong></td>
                <td><strong>Gender: </strong></td>
                <td><strong>NIC: </strong></td>
              </tr>
              <tr>
                <td>
                  <%# unless student.avatar.present? %>
                    <%#= image_tag("school.png", style: "height: 51px;") %>
                  <%# else %>
                    <%#= image_tag(student.avatar.url, style: "height: 51px;") %>
                  <%# end %>
                </td>
                <td><%#= student.to_s %></td>
                <td><%#= student.gender %></td>
                <td><%#= student.nic %></td>
              </tr>
            </table>
          </div>
        <%# end %>
      <%# else %>
        <div class="alert alert-dismissable alert-info" style="margin:0px !important;">
          <strong>No Students!</strong> available in this Batch.
        </div>
      <%# end %>
    </div>
  </div> -->
</div>
 



