<div class="panel panel-app">
  <!-- <ul class="nav nav-pills nav_subjects">
    <li><a href="#">Subjects</a></li>
    <li><a href="#">Students</a></li>
  </ul>
  <br /> -->
  <div id="subjects_subjects">
    <div class="panel-heading">
      <%= link_to 'Edit', edit_subject_path(@subject), class: "label label-info" %> |
      <%= link_to 'Back', list_subjects_path, class: "label label-default" %>
      <%= link_to "Periods", new_period_path(@subject), class: "btn btn-success pull-right" %>
    </div>
    <div class="panel-body">
      <h2><%= @subject.title %></h2>
      <table class="table table-bordered table-hover">
        <tr>
          <td class="col-md-3"><strong>Title: </strong></td>
          <td><%= @subject.title %></td>
        </tr>
        <tr>
          <td><strong>Short Name: </strong></td>
          <td><%= @subject.short_name %></td>
        </tr>
        <tr>
          <td><strong>Classrooms: </strong></td>
          <td><%= @subject.classrooms.map(&:classroom_name).join(", ") %></td>
        </tr>
      </table>
      <h2>Periods</h2>
      <% if @subject.periods.present? %>
        <% @subject.periods.each do |period| %>
          <table class="table table-bordered table-hover">
            <tr>
              <td class="col-md-3"><strong>Class: </strong></td>
              <td><%= period.school_class.class_name %></td>
            </tr>
            <tr>
              <td><strong>Teacher: </strong></td>
              <td><%= period.teacher.to_s %></td>
            </tr>
            <tr>
              <td><strong>Week Days: </strong></td>
              <td><%= period.week_days.join(", ").sub(",","") %></td>
            </tr>
          </table>
        <% end %>
      <% else %>
        <div class="alert alert-dismissable alert-info" style="margin:0px !important;">
          <strong>No Periods!</strong> assigned.
        </div>
      <% end %>
    </div>
  </div>
  <!-- <div id="subjects_students">
    <div class="panel-heading">
      <h1>Students</h1>
    </div>
    <div class="panel-body">
      <%# if @subject.students.present? %>
        <%# for student in @subject.students %>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <tr>
                <td class="col-sm-2"><strong>Profile Picture</strong></td>
                <td><strong>Student Name: </strong></td>
                <td><strong>Gender: </strong></td>
                <td><strong>NIC: </strong></td>
              </tr>
              <tr>
                <td>
                  <%# unless student.avatar.present? %>
                    <%#= image_tag("school.png", style: "height: 51px;") %>
                  <%# else %>
                    <%#= image_tag(student.avatar.url, style: "height: 51px;") %>
                  <%# end %>
                </td>
                <td><%#= student.to_s %></td>
                <td><%#= student.gender %></td>
                <td><%#= student.nic %></td>
              </tr>
            </table>
          </div>
        <%# end %>
      <%# else %>
        <div class="alert alert-dismissable alert-info" style="margin:0px !important;">
          <strong>No Students!</strong> available in this Batch.
        </div>
      <%# end %>
    </div>
  </div> -->
</div>
 



