<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @school_class. %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @school_class.short_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @school_class.color %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @school_class.employee_id %>
</p>

<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>
