<fieldset>
	<div class="row">
		<div class="col-md-6">
			<%= f.input :institute_name, input_html: {class: "form-control"}, placeholder: "Institute" %>
			<%= f.input :degree, input_html: {class: "form-control"}, placeholder: "Degree" %>
			<%= f.input :start_date, input_html: {class: "form-control", :data => {'date-format' => 'YYYY/MM/DD'}}, placeholder: "Start Date", :as => :string %>
		</div>
		<div class="col-md-6">
			<div id="employee_education_completion_date">
				<%= f.input :completion_date, input_html: {class: "form-control", :data => {'date-format' => 'YYYY/MM/DD'}}, placeholder: "Completion Date", :as => :string %>
			</div>
			<%= f.input :still_attending, as: :radio_buttons %>
			<%=hidden_field_tag "teacher_education", @teacher.id %>
		</div>
	</div>
	<%= f.hidden_field :_destroy %>
	<%= link_to "#", class: "remove_fields btn btn-danger btn-xs" do %>
	  <i class="glyphicon glyphicon-trash">Remove</i>
	<% end %>
</fieldset>

<script type="text/javascript">
	$(function(){
		$("input[name='employee[educations_attributes][0][still_attending]']").change(function(){
			if ($(this).val() === 'true') {
				$("#employee_education_completion_date").hide();
				$("input[name='employee[educations_attributes][0][completion_date]']").val("");
			}
			else if($(this).val() === 'false'){
				$("#employee_education_completion_date").show();
			}
		})

		
		

		<% if @teacher.educations.first.still_attending == true %>
			$("#employee_education_completion_date").hide();
		<% else %>
			$("#employee_education_completion_date").show();
		<% end %>


	});
</script>


