<h2>Create a new Particular</h2>
<fieldset>
  <%= simple_form_for @fees_particular, :url => create_fees_particulars_path(@fees_category), :method => :post, class: "form-horizontal" do |f| %>
    <%#= yield f %>
    <%= f.error_notification %>

    
    <div class="form-inputs">
      <%= f.label :fees_category_id %>
      <%= f.text_field :fees_category_id, class: "form-control", value: @fees_category.name, autofocus: true, placeholder: "Category Name", disabled: true %>
    </div>

    <div class="form-group"></div>

    <div class="form-inputs">
      <%= f.input :name, input_html: {class: "form-control"}, autofocus: true, placeholder: "Particular Name" %>
    </div>

    <div class="form-group"></div>

    <div class="form-inputs">
      <%= f.input :description, input_html: {class: "form-control"}, placeholder: "Description" %>
    </div>

    <div class="form-group"></div>

    <div class="form-inputs">
      <%= f.label :choose_types %>
      <%= f.select(:all, options_for_select([['All', true], ['Roll No', 2], ['Batches', 3]]), { :prompt => "--Choose any Type--"}, {class: "form-control"}) %>
    </div>
    

    <div id="roll_no_particular">
      <div class="form-group"></div>

      <div class="form-inputs">
        <%= f.input :roll_no, input_html: {class: "form-control"}, placeholder: "Roll No." %>
      </div>
    </div>

    <div id="batches_particular">
      <div class="form-group"></div>

      <div class="form-inputs">
        <%= f.grouped_collection_select(:batch_id, Course.order(:course_name), :batches, :course_name, :id, :batch_name, { :prompt => "--Select a Batch--"}, {class: "form-control"}) %>
      </div>
    </div>

    <div class="form-group"></div>

    <div class="form-inputs">
      <%= f.input :amount, input_html: {class: "form-control"}, placeholder: "Amount" %>
    </div>

    <div class="form-group"></div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    
    <div class="form-group"></div>
  <% end %>
</fieldset>

<hr />

<%= render partial: "list_particulars" %>

