<div class="row">
	<div class="col-md-6">
		<h3>Add Lesson for <%= @class.class_name %></h3>
		<%= simple_form_for(@lesson, url: create_lessons_path(@class.id), label_errors: true, :method => :post) do |f| %>
		  <%#= f.error_notification %>
		  <%#= yield f %>
		  <div class="form-inputs">
		    <%= f.input :period_id, collection: Period.all.map{|m| [m.name, m.id]}, :input_html => {class: "form-control"}, prompt: "Select Period"  %>
		  </div>
		  <div class="form-inputs">
		    <%= f.input :teacher_id, collection: Employee.teachers.map{|m| [m.to_s, m.id]}, :input_html => {class: "form-control"}, prompt: "Select Teacher"  %>
		  </div>

		  <div class="form-group"></div>
		  <div class="form-inputs">
		    <%= f.input :classroom_id, collection: Classroom.all.map{|m| [m.classroom_name, m.id]}, :input_html => {class: "form-control"}, prompt: "Select Classes"  %>
		  </div>

		  <div class="form-group"></div>
		  <div class="form-inputs">
		    <%= f.input :subject_id, collection: Subject.all.map{|m| [m.title, m.id]}, :input_html => {class: "form-control"}, prompt: "Select Subjects"  %>
		  </div>

		  <div class="form-group"></div>
		  <div class="form-inputs">
		    <%= f.input :week_day_id, collection: WeekDay.all.map{|m| [m.name, m.id]}, :input_html => {class: "form-control"}, prompt: "Select Week Days"  %>
		  </div>
		  
		  <div class="form-group"></div>

		  <div class="form-actions">
		    <%= f.submit "Create", class: "btn btn-primary" %> 
		  </div>
		  
		  <div class="form-group"></div>
		<% end %>
	</div>
</div>