<fieldset>
  <%= bootstrap_form_for @batch, label_errors: true, class: "form-horizontal" do |f| %>
    <%= yield f %>
    <%#= f.error_notification %>

    <div class="form-inputs">
      <%= f.select :course_id, Course.all.map{|m| [m.course_name, m.id]}, class: "form-control", autofocus: true, prompt: "Choose a Course" %>
    </div>

    <div class="form-group"></div>
    <div class="form-inputs">
      <%= f.text_field :batch_name, class: "form-control", placeholder: "Bactch Name", :as => :integer %>
    </div>
    <div class="form-group"></div>
    <div class="form-inputs">
      <%= f.text_field :start_date, class: "form-control", :data => {'date-format' => 'YYYY/MM/DD'}, as: :string, :placeholder => "dd-mm-yy" %>
    </div>
    <div class="form-group"></div>
    <div class="form-inputs">
      <%= f.text_field :end_date, class: "form-control", :data => {'date-format' => 'YYYY/MM/DD'}, as: :string, :placeholder => "dd-mm-yy" %>
    </div>

    <div class="form-group"></div>

    <div class="form-actions">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
    
    <div class="form-group"></div>
  <% end %>
</fieldset>

