<h1>Batches</h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Search Batches</h3>
      </div>
      <div class="panel-body">
        <%= form_tag batches_path, :method => "get", id: "batches_search_form" do %>
          <%= label_tag "Course Name" %>
          <%= select_tag :search_by_course, options_for_select(Course.all.collect{|m| [m.course_name, m.id]}, :selected => params[:search_by_course]), :class => 'form-control', prompt: "--Select Course--"  %>
          <%= label_tag "Batch Name" %>
          <div class="update_batches">
            <%= render :partial => "all_batches" %>
          </div>
          <%#= submit_tag "Search", :name => nil, :class => "btn btn-info btn-sm pull-right" %>
          <br />
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= form_tag destroy_multiple_batches_path, method: :delete do %>
  <div class="row">
    <div class="col-sm-6 pull-right">
      <div class="pull-right">
        <span id="select_notice" style="font-size:13px;"></span>
        <%= button_tag "Delete selected", :remote => true, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm destroy-all", id: "my" %>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <div id="batches">
          <%= render :partial => "batches" %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<br>

<%= link_to 'New Batch', new_batch_path, class: "btn btn-default btn-lg" %>

