<div class="panel panel-app">
  <div class="panel-heading">
    <h1>Batch Detail</h1>
    <%= link_to 'Edit', edit_batch_path(@batch), class: "label label-info" %> |
    <%= link_to 'Back', batches_path, class: "label label-default" %>
  </div>
  
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <tr>
        <td><strong>Bacth Name: </strong></td>
        <td><%= @batch.batch_name %></td>
      </td>
      <tr>
        <td><strong>Course: </strong></td>
        <td><%= @batch.course %></td>
      </tr>
      <tr>
        <td><strong>Start Date: </strong></td>
        <td><%= @batch.start_date.strftime("%d/%b/%Y") %></td>
      </tr>
      <tr>
        <td><strong>End Date: </strong></td>
        <td><%= @batch.end_date.strftime("%d/%b/%Y") %></td>
      </tr>
    </table>
    <hr />
    <div class="col-sm-3">
      <h4>Other Details</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="">Students</a></li>
        <li><a href="">Subjects</a></li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="batch_students">
        <%= render :partial => "/batches/details/students" %>
      </div>
      <div class="batch_subjects">
        <%= render :partial => "/batches/details/subjects" %>
      </div>
    </div>
  </div>
  
</div>
 

