<%= simple_form_for(@subject, label_errors: true) do |f| %>
  <%#= f.error_notification %>
  <%= yield f %>
  <div class="form-inputs">
    <%#= f.label :course_id %>
    <%= f.input :title, :input_html => {class: "form-control"}, placeholder: "Subject Title" %>
  </div>

  <div class="form-group"></div>
  <div class="form-inputs">
    <%#= f.label :batch_id %>
    <!-- <div class="batches"> 
      <%#= render :partial => '/subjects/partials/batches_all', :locals => {:f => f} %>
    </div> -->
    <%= f.input :short_name, :input_html => {class: "form-control"}, placeholder: "Short Name" %>
  </div>
  <div class="form-group"></div>
  <div class="form-inputs">
    <%= f.input :classroom_ids, collection: Classroom.all.map{|m| [m.classroom_name, m.id]}, :input_html => {class: "form-control", multiple: true}, prompt: "Select Classroom"  %>
  </div>

  <div class="form-group"></div>

  <div class="form-actions">
    <%= f.submit "Create", class: "btn btn-primary" %> 
  </div>
  
  <div class="form-group"></div>
<% end %>


