
<% if @subject.periods.present? %>
  <div class="row">
    <% WeekDay.all.each do |week_day| %>
      <div class="col-md-4">
        <div class="panel panel-success">
          <%# s = WeekDay.all %>
          <%# q = @subject %>
          <%# s.map{|m| m.name } & q.periods.map{|m| m.week_day.name}  %>
            <div class="panel-heading"><strong><%= week_day.name %></strong></div>
            <div class="panel-body">
              <% if @subject.periods.where(:week_day_id => week_day).each do |period| %>
                <table class="table table-bordered table-hover">
                  <%= link_to "Remove Period", period_path(period), remote: true, :method => :delete, class: "label label-danger pull-right destroy_period", data: {confirm: "Are you sure?"} %>
                  <tr>
                    <td class="col-md-3"><strong>Priority: </strong></td>
                    <td><%= period.level %></td>
                  </tr>
                  <tr>
                    <td class="col-md-3"><strong>Class: </strong></td>
                    <td><%= period.school_class.class_name %></td>
                  </tr>
                  <tr>
                    <td><strong>Teacher: </strong></td>
                    <td><%= period.teacher.to_s %></td>
                  </tr>
                  <!-- <tr>
                    <td><strong>Week Day: </strong></td>
                    <td><%#= period.week_day.name unless period.week_day.blank? %></td>
                  </tr> -->
                </table>
              <% end.empty? %>
                <div class="alert alert-dismissable alert-info" style="margin:0px !important; padding: 4px 0px 4px 12px;">
                  <strong>No Periods!</strong> assigned for <%= week_day.name %>.
                </div>
              <% end %>
            </div>
        </div>
      </div>
  <% end %>
  </div>
<% else %>
  <div class="alert alert-dismissable alert-info" style="margin:0px !important;">
    <strong>No Periods!</strong> assigned.
  </div>
<% end %>