<h1>Listing class_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_categories.each do |class_category| %>
      <tr>
        <td><%= class_category.name %></td>
        <td><%= link_to 'Show', class_category %></td>
        <td><%= link_to 'Edit', edit_class_category_path(class_category) %></td>
        <td><%= link_to 'Destroy', class_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class category', new_class_category_path %>
