<%= simple_form_for @student, url: admission_path, method: :post do |f| %>
  <%#= f.error_notification %>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-inputs">
        <%= f.input :first_name, input_html: {class: "form-control"}, autofocus: true, placeholder: "First Name" %>
      </div>

      <div class="form-group"></div>
      <div class="form-inputs">
        <%= f.input :last_name, input_html: {class: "form-control"}, placeholder: "Last Name" %>
      </div>

      <div class="form-group"></div>
      <div class="form-inline">
        <%= f.input :date_of_birth, input_html: {class: "form-control"} %>
      </div>

      <div class="form-group"></div>
      <div class="form-inputs">
        <%= f.input :nic, input_html: {class: "form-control"}, placeholder: "XXXX-XXXXXX-X" %>
      </div>

      <div class="form-inputs">
        <%= f.input :address, input_html: {class: "form-control"}, placeholder: "Your current address" %>
      </div>

      <div class="form-inputs">
        <%= f.input :gender, input_html: {class: "form-control"}, as: :select, collection: Student::GENDER, prompt: "Choose your Gender" %>
      </div>

      <div class="form-group"></div>
      <h3> Contact Information </h3>
      <div class="form-inputs">
        <%= f.simple_fields_for :emergency_contacts  do |p| %>
            
           <fieldset>
            <%= render "emergency_contacts_fields",  :f => p  %>
          </fieldset>
        <% end %>
        
      </div>

      <div class="form-group"></div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-app" %>
      </div>
      
      <div class="form-group"></div>
    </div>
  </div>
<% end %>

