<div class="col-md-3 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li>
            <%= link_to root_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Dashboard
            <% end %>
        </li>
        <li>
            <%= link_to courses_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Courses
            <% end %>
        </li>
        <li>
            <%= link_to batches_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Batches
            <% end %>
        </li>
        <li>
            <%= link_to subjects_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Subjects
            <% end %>
        </li>
        <li>
            <%= link_to human_resources_employees_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Human Resources
            <% end %>
        </li>
        <li>
            <%= link_to departments_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Departments
            <% end %>
        </li>
        <li>
            <%= link_to students_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Admissions
            <% end %>
        </li>
        <li>
            <%= link_to fees_categories_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Fees
            <% end %>
        </li>
        <li>
            <%= link_to school_edit_path do %>
                <i class="glyphicon glyphicon-chevron-right"></i> Settings
            <% end %>
        </li>
        <li>
            <a href="error-pages.html"><i class="glyphicon glyphicon-chevron-right"></i> Error pages</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">2,221</span> Messages</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">11</span> Reports</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">83</span> Errors</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">4,231</span> Logs</a>
        </li>
    </ul>
</div>