<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- <link href="assets/favicon.ico" rel="shortcut icon" /> -->
    <%= favicon_link_tag "favicon.ico" %>
    <title><%= content_for?(:title) ? yield(:title) : "School Admin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "School Admin" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <header>
        <%= render 'layouts/navigation' %>
      </header>
    <% end %>

    <div class="container">
      <div class="row">
        <% if user_signed_in? %>
          <%= render :partial => "layouts/left_navigation" %>
        
          <div class="col-md-10">
            <div id="notice">
              <%= render 'layouts/messages' %>
            </div>
            <main role="main">
              <%= render 'layouts/breadcrumbs' %>
              <%= yield %>
            </main>
          </div>
        <% else %>
          <div id="notice">
            <%= render 'layouts/messages' %>
          </div>
          <%= yield %>
        <% end %>
      </div>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    
    
  </body>
</html>
