<!DOCTYPE html>
<html>
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0", "user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="assets/favicon.ico" rel="shortcut icon" />
    <title><%= content_for?(:title) ? yield(:title) : "School Admin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "School Admin" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <div class="container">
      <div id="notice">
        <%= render 'layouts/messages' %>
      </div>
      <main role="main">
        <%= render 'layouts/breadcrumbs' %>
        <%= yield %>
      </main>
      <div class="main-height"></div>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
    
  </body>
</html>
