<%= simple_form_for(@subject_allocation) do |f| %>
  <%= f.error_notification %>
  <%= yield f %>
  <div class="form-inputs">
    <%= f.association :department, input_html: {class: "form-control"}, prompt: "Choose a Department" %>
  </div>

  <div class="form-group"></div>
  <div class="form-inputs">
    <%= f.association :employee, input_html: {class: "form-control"}, prompt: "Choose a Employee" %>
  </div>
  <div class="form-group"></div>
  <div class="form-inputs">
    <%= f.association :course, input_html: {class: "form-control"}, prompt: "Choose a course" %>
  </div>
  <div class="form-group"></div>
  <div class="form-inputs">
    <%= f.association :batch, input_html: {class: "form-control"}, prompt: "Choose a batch" %>
  </div>
  <div class="form-group"></div>
  <div class="form-inputs">
    <%= f.association :subject, input_html: {class: "form-control"}, prompt: "Choose a subject" %>
  </div>

  <div class="form-group"></div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  
  <div class="form-group"></div>
    
<% end %>
