<h1>Allocated Subjects</h1>


<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class= "table table-striped table-bordered table-hover ">
        <thead >
          <tr>
            <th class="col-sm-2">Department</th>
            <th>Employee</th>
            <th colspan="3" align="center">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @subject_allocations.each do |subject_allocation| %>
            <tr>
              <td><%= subject_allocation.department %></td>
              <td><%= subject_allocation.employee %></td>
              <td><%= link_to 'View Details', subject_allocation, class: "btn btn-link" %></td>
              <td><%= link_to 'Edit', edit_subject_allocation_path(subject_allocation), class: "btn btn-link" %></td>
              <td><%= link_to 'Destroy', subject_allocation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Subject allocation', new_subject_allocation_path, class: "btn btn-default btn-lg" %>


